flask
streamlit
pandas
psutil
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-flask
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-flask
opentelemetry-exporter-otlp
